h1{
	color:blue;	
}

h2{

}

p{
	font-size:20px;
}
.bcolor-blue{
	height:200px;
	width:200px;
	background-color:blue;
	float:right;
	border-radiues:10px
}
.bcolor-red{
	height:200px;
	width:200px;
	background-color:red;
}
